Repository thoo/sandbox-runtime-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, pyright, uv-lock-check

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run --frozen ruff format
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff
        name: Ruff
        entry: uv run --frozen ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: (pyproject\.toml|uv\.lock)$
        pass_filenames: false

Add seccomp binary build instructions to README
  README.md
Due: none

Add runner subprocess for isolated sandbox execution
  sandbox_runtime/__init__.py
  sandbox_runtime/runner.py
Due: ruff-format, ruff, pyright

Add matplotlib and numpy to dev dependencies
  pyproject.toml
  uv.lock
Due: uv-lock-check

update to runner
  sandbox_runtime/runner.py
Due: ruff-format, ruff, pyright

Add MCP server for sandbox execution
  pyproject.toml
  sandbox_runtime/server/__init__.py
  sandbox_runtime/server/config.py
  sandbox_runtime/server/execution_manager.py
  sandbox_runtime/server/mcp_server.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Use UUID for session identification
  sandbox_runtime/server/mcp_server.py
Due: ruff-format, ruff, pyright

Add README for MCP server with architecture diagrams
  sandbox_runtime/server/README.md
Due: none

Add token authorization and resource limits to MCP server
  sandbox_runtime/config.py
  sandbox_runtime/runner.py
  sandbox_runtime/server/README.md
  sandbox_runtime/server/config.py
  sandbox_runtime/server/execution_manager.py
  sandbox_runtime/server/mcp_server.py
  tests/test_mcp_server.py
  tests/test_resource_limits.py
Due: ruff-format, ruff, pyright

Add runner and sandbox integration tests
  tests/test_runner.py
  tests/test_sandbox_integration.py
Due: ruff-format, ruff, pyright

Add /setup-sandbox-mcp slash command for Claude Code
  .claude/commands/setup-sandbox-mcp.md
Due: none

Add Claude Code integration docs and request logging
  pyproject.toml
  sandbox_runtime/server/README.md
  sandbox_runtime/server/mcp_server.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Add log file support with rotation
  sandbox_runtime/server/README.md
  sandbox_runtime/server/mcp_server.py
Due: ruff-format, ruff, pyright

Add *.log to gitignore
  .gitignore
Due: none

Update README installation instructions for PyPI
  README.md
Due: none

Bump version to 0.2.0
  pyproject.toml
  sandbox_runtime/__init__.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Add event resumability for execution output streaming
  DEPLOYMENT.md
  RESUMABILITY.md
  sandbox_runtime/server/execution_manager.py
  sandbox_runtime/server/mcp_server.py
  sandbox_runtime/server/redis_state.py
  tests/TEST_RESUMABILITY_SUMMARY.md
  tests/test_incremental_streaming.py
  tests/test_resumability.py
Due: ruff-format, ruff, pyright

Add camelCase alias support for sandbox configuration
  examples/test-srt-settings.json
  sandbox_runtime/config.py
  sandbox_runtime/server/SANDBOX_CONFIG.md
  sandbox_runtime/server/mcp_server.py
  tests/test_config_aliases.py
  tests/test_incremental_streaming.py
  tests/test_resumability.py
Due: ruff-format, ruff, pyright

Add Redis event store and state management for MCP session persistence
  .mcp.json
  README.md
  pyproject.toml
  sandbox_runtime/server/redis_event_store.py
  sandbox_runtime/server/redis_state.py
  tests/test_mcp_sdk_client.py
  tests/test_mcp_server.py
  uv.lock
Due: ruff-format, ruff, pyright, uv-lock-check

Fix Redis integration for MCP event persistence and execution state tracking
  sandbox_runtime/server/execution_manager.py
  sandbox_runtime/server/mcp_server.py
  sandbox_runtime/server/redis_state.py
Due: ruff-format, ruff, pyright

Clarify execution flow diagram in MCP server documentation
  sandbox_runtime/server/README.md
Due: none

Show that stdout/stderr events are surfaced to the client
  sandbox_runtime/server/README.md
Due: none

fix authorname
  pyproject.toml
Due: uv-lock-check
